html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 48px;
}
.container {
  min-height: 100%;
  margin-bottom: 20px;
}

.about-me {
  padding: 50px;
  padding-bottom: 150px;
  line-height: 24px;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

#about-image {
  border-radius: 20%;
  border: double 7px #808080;
}

/* #image {
  height: 100%;
  width: 100%;
} */

#navbar {
  background-color: #8b6979 !important;
}

#logo {
  font-size: 140%;
}

#navbarTogglerDemo01 {
  font-size: 110%;
}

.footer {
  padding: 20px;
  background-color: #8b6979;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* #cardContainer {
  margin-bottom: 30px;
} */

#connectCard {
  text-align: center;
  font-size: medium;
  width: 33% !important;
  margin-left: 33%;
}

#connected {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

#resumeBtn {
  float: left !important;
}

.testimonials {
  font-style: italic;
  font-size: 18px;
}

.heading {
  font-size: 36px;
  padding-bottom: 20px;
}

#resume-main {
  height: 100vh;
}
